*.bak
*-bak
*.hex
*.elf
*.exe
*.stackdump
*.rpt
overlay64
*.bin
firmware/font
firmware/font.c
intelhex/ihex2bin
intelhex/*.o
*.zip
*.tar.gz
bootloader/**/*.asm
bootloader/**/*.o
bootloader/**/*.map
bootloader/**/*.raw
factory/progmem
download
